$bg_color:#f5f5f5;
$elebg_color:#FFF;

$rang_fc_1:#555 ;
$rang_fw_1:700;
$rang_fc_2:#666 ;
$rang_fw_2:400;
$border-color1:#e8e8e8;
body{background: $bg_color;}
.listname,.sidebar_item,.list_content_head{background: $elebg_color;}
.listname{
  height: 70px;
  padding-left: 15px;
  margin-bottom: 10px;
  line-height: 70px;
  font-size: 32px;
}
.list_body{overflow: hidden;}

/*侧导航*/
.list_sidebar{ position: relative;  width:267px; overflow: hidden;}
.sidebar_item {
  $height: 52px;
  $font-w4: 400;
  padding: 0 10px;
  margin-bottom: 10px;
  .sidebar_item_head {
    height: $height;
    line-height: $height;
    span {
      display: block;
      font-size: 14px;
    }
    .add_icon {
      font-size: 24px;
      font-weight: $font-w4;
      font-family: "宋体";
      cursor: pointer;
    }
  }
}
.sider-maxheight{max-height: 250px;overflow-x:hidden;}
.sider_item_body{
  display: none;
  padding:10px 0;
  margin-bottom: 10px;
  border-top:1px solid $border-color1 ;
}
///*侧栏滚动条*/
//.sider_item_content::-webkit-scrollbar{
//    width:5px;
//    padding: 0 7px;
//  }

.sidebar_secondary,.sider_item_content{ padding-left:5px;}
.sidebar_secondary_head,.sider_item_content{
  a{
    position: relative;
    display: block;
    padding:5px 0 5px 20px;
    line-height: 18px;
    overflow: hidden;
    em{
      position: absolute;
      display: block;
      width: 14px;
      height: 14px;
      top: 7px;
      left: 0;
    }
  }
}
.click_em{background: url(../../img/listico.gif) no-repeat 0px -14px;}
.check_em{background: url(../../img/listico.gif) no-repeat }
.sidebar_secondary_body{
  padding-left: 20px;
  overflow: hidden;
  li{overflow: hidden;}
}


/*商品内容区*/
.list_content,.list_content_head,.list_content_body{
  position: relative;
  width:923px;
  overflow: hidden;
}

.range{
  display: inline-block; height: 55px; padding-left: 55px;line-height: 55px;
  ul
  {
    li{
      float: left;
      color:$rang_fc_1;
      font-weight: $rang_fw_1;
    }
    a{
      float: left;
      display: block;
      margin-left: 35px;
      padding-right: 12px;
      color:$rang_fc_2;
      font-weight: $rang_fw_2;
    }
  }
}
/*--------------------------
-------分页pagination-------
--------------------------*/
.pagiation{
  margin-top:18px;
  span,a{
    float: left;
    display: block;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    margin-right:18px;
  }
  .pagiation_active{
    color: #FFF;
    background: #333;
    border-radius: 2px;
  }
  .pagiation_prev{background: url(../../img/pagination.gif) no-repeat }
  .pagiation_next{background: url(../../img/pagination.gif) no-repeat -20px 0px;}
}
.bottom_pagiation{padding-top:5px;margin-bottom: 20px;}



/*商品展示区域*/
.list_content_body{ position: relative; }
.product_main{position: relative; width: 923px;margin-top:5px;}
.product_list{
  display: block;
  margin:0px -5px 0 0;
  li{
    float:left;
    width:205px;
    height: 371px;
    padding: 10px;
    margin:0 5px 5px 0;
    border:1px solid #FFF;
    background: #FFF;
    a{display: block;}
  }
  li:hover{
    border:solid 1px #eee;
    box-shadow:0 0 5px #d9d9d9;
  }
}
.product_img_link{
  width: 207px;
  height: 230px;
  text-align: center;
  padding-top: 10px;

  img{width: 180px;}
}
.product-tips{
  height: 28px;
  margin-top: 8px;
  padding: 0 20px;
}
.product_tit_link{
  height: 45px;
  padding: 0 20px 9px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
 span{
  line-height: 24px;
  color:#333;
  font-weight: 700;
  cursor: pointer;
  }
}
.product_sale{
  width:165px;
  height: 26px;
  padding: 0 20px 15px 20px;
  span{
    line-height: 16px;
    color:#999;
  }
}
//ajax加载时的遮罩层
#Loading{
  display:none;
  position: absolute;
  width: 923px;
  height: 100%;
  background: rgba(255,255,255,.5);
  text-align: center;
  top: 0;
  left: 0;
  img {
    position: absolute;
    left: 50%;
    margin-left: -21px;
  }
}

//浮动导航
.sideright_fixed{
  position: fixed;
  right: 0;
  bottom: 100px;
  border: solid 1px #ddd;
  background: #fff;
  z-index: 100;
  ul li a {
    display: block;
    width: 58px;
    height: 46px;
    padding-top: 12px;
    border-bottom: solid 1px #ddd;
    em{
      display: block;
      width: 35px;
      height: 35px;
      background: url(../../img/consult.png) no-repeat;
      margin: 0 auto;
    }
  }
  a.online em {background-position: 0 -70px;}
  a.QQ em {background-position: 0 -35px;}
  a.go_top em {background-position: 0 -105px;}
  ul li a:hover {background:#666;}
  a.online em {background-position: 0 -70px;}
  a.QQ em {background-position: 0 -35px;}
  a.go_top em {background-position: 0 -105px;}
  a.consult_app:hover em{background-position: -35px 0;}
  a.online:hover em {background-position: -35px -70px;}
  a.QQ em:hover  {background-position: -35px -35px;}
  a.go_top:hover  em {background-position: -35px -105px;}
}

