$width-g :1200px;
$bg-g : #FFF;
$border-color:#E8E8E8;
body{background: #f5f5f5;}
.product_constainer {
  width:$width-g;
  margin: 0 auto;

}
.product_content{
  padding: 70px 0;
  background: $bg-g;
}
.product_window{  width: 510px;  float: left; margin-left: 95px;}
.product_information{
  padding: 20px 0 0 85px;
  width: 425px;
}

.product_information h1 a {
  display: block;
  max-width: 361px;
  font-size: 24px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_alt{
  float:left;
  width: 100%;
  max-width:361px;
  margin:4px 20px 0 0 ;
  font-size:14px;
  white-space:nowrap;
  overflow: hidden;;
  text-overflow: ellipsis;
}
.product_sale{
  float: left;
  width: 100%;
  padding: 20px 0 14px;
  span{display: block;float: left;}
  span.now_price{
    em{font-size: 18px;font-weight: bold;}
  }
  span.del_price{line-height: 27px;}
}