<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物袋</title>
    <link rel="stylesheet" href="src/style/main.css">
    <link rel="stylesheet" href="src/style/header.css">
    <link rel="stylesheet" href="src/style/shoppingBag.css">
    <link rel="stylesheet" href="src/style/footer.css">
</head>
<body>
    <div class="header">
    <div class="header_top">
        <div class="header_bar">
            <div class="header_bar_left float_l">
                <div class="header_hotline float_l">
                    <i class="hotline"></i>
                    <span class="header_box float_r"><a href="javascript:void(0)">4000-250-630</a></span>
                </div>
                <div class="header_app float_l">
                    <i class="app float_l"></i>
                    <span class="header_box jqshow_icon float_r"><a href="javascript:void(0)">下载美西APP</a></span>
                    <div class="header_app_code jqhidde_icon">
                        <div class="code_icon"></div>
                        <div class="code">
                            <a href="javascript:void(0)"><img src="img/down_app.png"/></a>
                            <br/>扫码下载
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bar_right float_r">
                <div class="user float_l un">
                    <span><a href="login.html">登陆</a></span>
                    <span><a href="register.html">注册</a></span>
                </div>
                <div class="user_login float_l ">
                    <span><a href="">已登录</a></span>
                </div>
                <div class="header_shoppingbag float_r">
                    <i class="shoppingbag"></i>
                    <span><a id="ShopBag" href="shoppingBag.html" target="_blank">购物袋</a></span>
                </div>

            </div>
        </div>
    </div>
    <div class="header_center">
        <div class="header_logo"><a><img src="img/logo.png"/></a></div>
        <div class="header_search float_r">
            <input class="search_txt float_l" type="text" value placeholder="请输入关键字" />
            <span class="search_btn float_r"><a class="search_icon"></a></span>
        </div>
    </div>
    <div class="header_bottom">
        <div class="header_nav">
            <ul>
                <li><a href="index.html" title="首页">首页</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=new&acty=0&cyc=3" target="_blank" title="最新单品">最新单品</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=global&acty=0&cbs=1" target="_blank" title="全球购">全球购</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=woman&acty=0&fp=30" target="_blank" title="女士">女士</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=man&acty=0&fp=20" target="_blank" title="男仕">男仕</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=lifestyle&acty=0&ca=9%2C264%2C279%2C290%2C294" target="_blank" title="家居生活">家居生活</a></li>
                <li><a href="list.html?o=newDesc&p=1&ch=watch&acty=0&ca=10" target="_blank"  title="腕表">腕表</a></li>
                <li><a href="javascript:void(0)" title="品牌">品牌</a></li>
                <li><a href="javascript:void(0)" title="Mzine">Mzine</a></li>
            </ul>
        </div>
        <div class="header_secondary_nav">
            <div class="secondary_nav_items"></div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="男仕 Man">男仕 Man</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="女士 Woman">女士 Woman</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items"></div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="/woman/index/ca/1.html" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="所有<span>包袋</span>" >所有<span>包袋</span></a></li>
                        <li><a href="javascript:void(0)" title="手提包 Totes" target="_blank" onclick="_hmt.push(['_trackEvent', '导航菜单-女士', '点击', '手提包 Totes']);">手提包 Totes</a></li>
                        <li><a href="javascript:void(0)" title="单肩包 Shoulder Bags" target="_blank" onclick="_hmt.push(['_trackEvent', '导航菜单-女士', '点击', '单肩包 Shoulder Bags']);">单肩包 Shoulder Bags</a></li>
                        <li><a href="javascript:void(0)" title="斜挎包 Messenger Bags" target="_blank" onclick="_hmt.push(['_trackEvent', '导航菜单-女士', '点击', '斜挎包 Messenger Bags']);">斜挎包 Messenger Bags</a></li>
                        <li><a href="javascript:void(0)" title="手拿包 Clutch Bags" target="_blank" onclick="_hmt.push(['_trackEvent', '导航菜单-女士', '点击', '手拿包 Clutch Bags']);">手拿包 Clutch Bags</a></li>
                        <li><a href="javascript:void(0)" title="双肩包 Travel Bags" target="_blank" onclick="_hmt.push(['_trackEvent', '导航菜单-女士', '点击', '双肩包 Travel Bags']);">双肩包 Travel Bags</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="所有配饰" >所有配饰</a></li>
                        <li><a href="javascript:void(0)" title="钱包 Wallets">钱包 Wallets</a></li>
                        <li><a href="javascript:void(0)" title="手表 Watches">手表 Watches</a></li>
                        <li><a href="javascript:void(0)" title="太阳眼镜 Sunglasses">太阳眼镜 Sunglasses</a></li>
                        <li><a href="javascript:void(0)" title="饰品 Jewelry" >饰品 Jewelry</a></li>
                        <li><a href="javascript:void(0)" title="腰带 Belts" >腰带 Belts</a></li>
                        <li><a href="javascript:void(0)" title="围巾 Scarf" >围巾 Scarf</a></li>
                        <li><a href="javascript:void(0)" title="小配件 Small Acc." >小配件 Small Acc.</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="/woman/index/ca/8.html" title="鞋履 Shoes" >鞋履 Shoes</a></li>
                        <li><a href="/woman/index/ca/8.html" title="所有鞋履" >所有鞋履</a></li>
                        <li><a href="/woman/index/ca/152.html" title="正装皮鞋 Business Shoes" >正装皮鞋 Business Shoes</a></li>
                        <li><a href="/woman/index/ca/149.html" title="休闲皮鞋 Casual Shoes" >高跟鞋 Pumps</a></li>
                        <li><a href="/woman/index/ca/150.html" title="靴子 Boots" >靴子 Boots</a></li>
                        <li><a href="/woman/index/ca/309.html" title="运动鞋 Gym shoes" >运动鞋 Gym shoes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="/woman/index/ca/24.html" title="服装 Clothes" >服装 Clothes</a></li>
                        <li><a href="/woman/index/ca/24.html" title="所有服装" >所有服装</a></li>
                        <li><a href="/woman/index/ca/205.html" title="卫衣 Hoodies" >卫衣 Hoodies</a></li>
                        <li><a href="/woman/index/ca/208.html" title="衬衫 Shirt" >衬衫 Shirt</a></li>
                        <li><a href="/woman/index/ca/210.html" title="针织/毛衫 Knit/Sweater" >针织/毛衫 Knit/Sweater</a></li>
                        <li><a href="/woman/index/ca/212.html" title="夹克 Jacket" t>夹克 Jacket</a></li>
                        <li><a href="/woman/index/ca/177.html" title="大衣 Coat" >大衣 Coat</a></li>
                        <li><a href="/woman/index/ca/35.html" title="半裙 Skirts" >半裙 Skirts</a></li>
                        <li><a href="/woman/index/ca/187.html" title="连衣裙 Dresses" >连衣裙 Dresses</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="男仕 Man">男仕 Man</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="女士 Woman">女士 Woman</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="男仕 Man">男仕 Man</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="女士 Woman">女士 Woman</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="男仕 Man">男仕 Man</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="女士 Woman">女士 Woman</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items">
                <div class="secondary_nav_items_content">
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="男仕 Man">男仕 Man</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                    <ul>
                        <li class="nav_second_title"><a href="javascript:void(0)" title="女士 Woman">女士 Woman</a></li>
                        <li><a href="javascript:void(0)" title="<span>包袋</span> Bags"><span>包袋</span> Bags</a></li>
                        <li><a href="javascript:void(0)" title="配饰 Accessories">配饰 Accessories</a></li>
                        <li><a href="javascript:void(0)" title="鞋履 Shoes">鞋履 Shoes</a></li>
                        <li><a href="javascript:void(0)" title="服装 Clothes">服装 Clothes</a></li>
                    </ul>
                </div>
                <div class="header_shadow"></div>
            </div>
            <div class="secondary_nav_items"></div>
        </div>
        <div class="header_shadow"></div>
    </div>
</div>


    <!--购物袋信息存在时-->
    <div class="bag_product">

        <div class="bag_user">
            <div class="bag_info_tit">
                <div class="bit1">
                    <label class="allcpro" for="allcpro01">
                        <input id="allcpro01" type="checkbox" class="ng-pristine ng-valid">全选
                    </label>
                </div>
                <div class="bit2">商品信息</div>
                <div class="bit3">单价</div>
                <div class="bit4">数量</div>
                <div class="bit5">小计</div>
            </div>
        </div>

        <div class="bag_table">
            <table width="100%">
                <colgroup>
                    <col width="415px">
                    <col width="175px">
                    <col width="215px">
                    <col width="185px">
                </colgroup>
                <tbody>
                    <tr>
                    <td class="commodity">
                        <input type="checkbox"/>
                        <div class="commodity_img float_l">
                            <a target="_blank">
                                <img src="https://img3.meicicdn.com/u/LvProduct/pic/20180412/1559095acf11cd570c1-800x960.jpg" height="90">
                            </a>
                        </div>
                        <div class="commodity_info float_l">
                            <div class="commodity_title">
                                <a>Burberry 博柏利
                                    <br>【新品上市】灰黑色纯棉经典格纹男士短袖衬衫
                                </a>
                            </div>
                            <div class="commodity_content float_l">
                                <div class="">
                                    <span class="size_color">颜色：黑色</span>
                                    <span class="size_info">尺码：XXL</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center" class="sale">￥2000.00</td>
                    <td align="center" class="num">
                        <div class="cart_num">
                            <div class="cart_num_m">
                                <a class="cart_jian" href="javascript:void(0);" ng-click="cal_minus()">-</a>
                                    <input class="shopNum" type="text"/>
                                <a class="cart_jia" href="javascript:void(0);">+</a>
                            </div>
                        </div>
                    </td>
                    <td align="center" class="allsale">2000.00</td>
                    <td align="center">
                        <div class="cp_btn">
                            <a class="cp_fav" href="javascript:void(0);" title="加入收藏" ng-click="add_favorite()">加入收藏</a><br>
                            <a class="cp_del" href="javascript:void(0);" ng-click="del_one()" title="删除">删除</a>
                         </div>
                    </td>


                </tr>
                </tbody>

            </table>

        </div>


    </div>




    <div class="bag_none">
        <div class="bag_none_wrap">
            <div class="bag_none_info">
                <div class="bagNimg"></div>
                <div class="bagNtxt bag_login_tip">购物车内暂时没有商品</div>
                <!--未登录-->
                <div class="bagNtip">登录后将显示您之前加入的商品</div>
            </div>
            <div class="bag_none_btn clearfix">
                <a href="login.html" target="_blank" class="bag_login">登录</a>
                <a href="index.html" target="_blank">随便逛逛</a>
            </div>
        </div>
    </div>

    <!--商品推荐-->
    <div class="Bag_recommend">
        <div class="product_like product_tab">
            <div class="product_tab_title">
                <div class="tab_title">
                    Guess
                    <span>Your Like</span>
                </div>
                <p>
                    猜你喜欢</p>
            </div>
            <div class="product_sroll clearfix ">
                <div class="sroll_prev swiper-button-prev">
                    <span class="sroll_btn_prev hoe_btn_prev"></span>
                </div>
                <div class="sroll_next swiper-button-next">
                    <span class="sroll_btn_next like_btn_next"></span>
                </div>
                <div class="product_sroll_content product_like_content">

                    <ul class="swiper-wrapper clearfix">
                        <li class="swiper-slide swiper-no-swiping">
                            <a target="_blank">
                                <img src="img/17053259e9bc5c8ef93-160x192.jpg">
                                <br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Prada 普拉达</span><br>
                                    <span class="hot_m">棉 弹性纤维 男士 短袖POLO衫</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥2940.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/79457/saleid/76919.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','79457','','web_product_detail');">
                                <img src="img/h-079457-1.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Gucci 古驰</span><br>
                                    <span class="prn_m">男仕 棉质 白色 短袖POLO衫</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥3489.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/373077/saleid/187847.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','373077','','web_product_detail');">
                                <img src="img/15248000115ae29a0bbcd88-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">GCDS </span><br>
                                    <span class="prn_m">涤纶 男士 双色游泳短裤</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥970.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/371669/saleid/187233.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','371669','','web_product_detail');">
                                <img src="img/15227423775ac3346935197-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Dsquared2 D二次方</span><br>
                                    <span class="prn_m">棉质 男士 牛仔裤</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥2950.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/88265/saleid/85727.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','88265','','web_product_detail');">
                                <img src="img/h-088265-1.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Marcelo Burlon 马尔塞洛比隆</span><br>
                                    <span class="prn_m">男仕 全棉 黑色 马甲/背心</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥1189.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/367387/saleid/185534.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','367387','','web_product_detail');">
                                <img src="img/1603215ac3354956e34-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Emporio Armani 安普里奥·阿玛尼</span><br>
                                    <span class="prn_m">【新品上市】苹果绿男士短袖Polo衫</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥800.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/328585/saleid/169516.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','328585','','web_product_detail');">
                                <img src="img/14524059feb538ab298-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">IDEAGE </span><br>
                                    <span class="prn_m">IDEAGE/艾迪芝 美国潮牌 个性3D机器人印花中性短袖T恤</span><br>

                                </div>
                            </a>
                            <div class="like_info_sale">￥880.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/369943/saleid/186452.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','369943','','web_product_detail');">
                                <img src="img/1405435ac319b705edd-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Givenchy 纪梵希</span><br>
                                    <span class="prn_m">【新品上市】白色印花男士短袖T恤</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥2699.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/328597/saleid/169519.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','328597','','web_product_detail');">
                                <img src="img/14373759feb1b169c5b-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">IDEAGE </span><br>
                                    <span class="prn_m">IDEAGE/艾迪芝 美国潮牌 不规则个性印花中性短袖T恤</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥780.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="img//169518.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','328595','','web_product_detail');">
                                <img src="img//14421059feb2c202cac-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">IDEAGE </span><br>
                                    <span class="prn_m">IDEAGE/艾迪芝 美国潮牌 纱网拼接几何图案中性短袖T恤</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥880.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/362787/saleid/183867.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','362787','','web_product_detail');">
                                <img src="img/15226590005ac1eeb851480-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Marcelo Burlon 马尔塞洛比隆</span><br>
                                    <span class="prn_m">牛皮 男士 凉拖/鞋</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥1010.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>
                        <li class="swiper-slide swiper-no-swiping">
                            <a title="" href="/product/detail/id/362765/saleid/183862.html" target="_blank" onclick="visitPagePlace('web_product_detail_recommend','362765','','web_product_detail');">
                                <img src="img/15226589945ac1eeb2135e3-160x192.jpg" alt=""><br>
                                <div class="sroll_like_info">
                                    <span class="hot_t">Marcelo Burlon 马尔塞洛比隆</span><br>
                                    <span class="prn_m">牛皮 男士 凉拖/鞋</span><br>
                                </div>
                            </a>
                            <div class="like_info_sale">￥950.00</div>
                            <a class="like_info_addBag">添加到购物袋</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="sideright_fixed">
        <ul>
            <li class="consultApp">
                <a class="consult_app" href="/app" title="美西APP"><em></em></a>
                <div class="consult_app_m" style="display: none;">
                    <div class="consult_app_sj"></div>
                    <div class="consult_app_code">
                        <img src="http://img.meicicdn.com/skin/df/ewm_indexTop_1.png">
                    </div>
                </div>
            </li>
            <li><a class="online" href="javascript:void(0);" title="在线咨询"><em></em></a></li>
            <li><a class="QQ"  href="javascript:void(0);"><em></em></a></li>
            <li><a class="go_top" href="javascript:void(0);" title="返回顶部"><em></em></a></li>
        </ul>
    </div>



    <div class="footer">
        <div class="footer_top">
            <div class="footer_nav footer_top_left float_l">
                <ul>
                    <li class="topli">购物指南</li>
                    <li><a href="javascript:void(0)">购物流程</a></li>
                    <li><a href="javascript:void(0)">配送方式</a></li>
                </ul>
                <ul>
                    <li class="topli">支付方式</li>
                    <li><a href="javascript:void(0)">如何付款</a></li>
                    <li><a href="javascript:void(0)">发票制度</a></li>
                </ul>
                <ul>
                    <li class="topli">商品说明</li>
                    <li><a href="javascript:void(0)">商品尺码</a></li>
                    <li><a href="javascript:void(0)">商品包装</a></li>
                </ul>
                <ul>
                    <li class="topli">客服中心</li>
                    <li><a href="javascript:void(0)">七天退换</a></li>
                    <li><a href="javascript:void(0)">常见问题</a></li>
                </ul>
            </div>
            <div class="footer_service float_l">
                <span class="footer_t">客服电话</span>
                <h5>4000-250-630</h5>
                <p>工作日 08:30-21:30</p>
                <p>节假日 10:00-18:00</p>
            </div>
            <div class="foot_subscription float_l">
                <p>订阅美西杂志</p>
                <input type="text" value="" placeholder="E-mail">
                <div class="foot_subscription_btn">即刻订阅</div>
            </div>
            <div class="footer_app-wechat float_l">
                <div class="footer_app float_l">
                    <p>美西APP</p>
                    <div class="app_img"><span ></span></div>
                </div>
                <div class="footer_wechat float_r">
                    <p>官方微信</p>
                    <div class="wechat_img"><span ></span></div>
                </div>
                <p class="footer_app_alt float_r">手机扫码即可下载美西APP或关注官方微信 </p>
            </div>
        </div>
        <div class="footer_center">
            <div class="footer_center_content">
                <ul>
                    <li class="quality">
                        <span class="quality_img"></span>
                        <p>100%正品保证</p>
                    </li>
                    <li class="seven">
                        <span class="seven_img"></span>
                        <p>7天无忧虑退货</p>
                    </li>
                    <li class="nice">
                        <span class="nice_img"></span>
                        <p>九年专注品质保障</p>
                    </li>
                </ul>
            </div>
            <div class="footer_border_bottom"></div>
            <div class="footer_bottom">
                <div class="bottom_txt float_l">
                    <ul>
                        <li class="border_none"><a href="javascript:void(0)">媒体报道</a></li>
                        <li><a href="javascript:void(0)">正品保证</a></li>
                        <li><a href="javascript:void(0)">业务合作</a></li>
                        <li><a href="javascript:void(0)">隐私声明</a></li>
                        <li><a href="javascript:void(0)">加入美西</a></li>
                        <li><a href="javascript:void(0)">联系我们</a></li>
                    </ul>
                    <p>Copyright ©2008-2018，美西-高端时尚生活电商</p>
                    <span>沪ICP备09001221号</span>
                    <span>沪公网安备11010802017116号</span>

                </div>
                <div class="bottom_img float_l"></div>
            </div>
        </div>

    </div>

</body>
<script src="src/lib/require.js"></script>
<script>
    require(["src/lib/require.config"],function(){
        require(["js/mainBag"])
    })
</script>
</html>